<html>
	<head>
		<title> Login to Touch Save </title>
	</head>
	<body>
		<div class="home">
			<div style="width: 100%">
				<form id="register" action="register/" method="post" enctype="multipart/form-data"> {% csrf_token %}
					<div style="float:left"; width: "60%">
						<table>
							<tr>
								<td> <h3> Registration </h3> </td>
							</tr>
							{% if request.GET.error %}
								{% if request.GET.error == "duplicateuser" %}
								<tr>
									<td style="color: #FF0000; font-style: italic;">
										A user with those credentials already exist <br/>
									</td>
								</tr>
								{% elif request.GET.error == "pwdmismatch" %}
								<tr>
									<td style="color: #FF0000; font-style: italic;">
										Passwords did not match <br/>
									</td>
								</tr>
								{% endif %}
							{% endif %}
							<tr>
								<td> <label for="reg_email"> <b> Email: </b> </label> </td>
								<td> <input id="reg_email" name="reg_email" type="email" placeholder="example@example.com"/> </td>
							</tr>
							<tr>
								<td> <label for="reg_fname"> <b> First Name: </b> </label> </td>
								<td> <input id="reg_fname" name="reg_fname" placeholder="John"/> </td>
							</tr>
							<tr>
								<td> <label for="reg_lname"> <b> Last Name:</b> </label> </td>
								<td> <input id="reg_lname" name="reg_lname" placeholder="Doe"/> </td>
							</tr>
							<tr>
								<td> <label for="reg_pwd1"> <b> Password: </b> </label> </td>
								<td> <input id="reg_pwd1" name="reg_pwd1" type="password"> </td>
							</tr>
							<tr>
								<td> <label for="reg_pwd2"> <b> Confirm Password: </b> </label> </td>
								<td> <input id="reg_pwd2" name="reg_pwd2" type="password"> </td>
							</tr>
							<tr>
								<td> <button onclick=""> Submit </button> </td>
							</tr>
						</table>
					</form>
				</div>
				<div style="float:right">
					<form id="login" action="login/" method="post" enctype="multipart/form-data"> {% csrf_token %}
						<table>
							<tr>
								<td> <h3> login </h3> </td>
							</tr>
							{% if request.GET.error %}
								{% if request.GET.error == "authfail" %}
									<tr>
										<td style="color: #FF0000; fon-style: italic">
											Incorrect username or password. <br/>
										</td>
									</tr>
								{% endif %}
							{% endif %}
							
							<tr>
								<td> <label for="login_email"> <b> Email: </b> </label> </td>
								<td> <input id="login_email" name="login_email" type="email" placeholder="example@example.com"/> </td>
							</tr>
							<tr>
								<td> <label for="login_pwd1"> <b> Password: </b> </label> </td>
								<td> <input id="login_pwd1" name="login_pwd1" type="password"> </td>
							</tr>
							<tr>
								<td> <button onclick=""> Login </button> </td>
							</tr>
						</table>
					</form>
				</div>
		</div>
	</body>
</html>
