<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<HTML>
   <HEAD>
      <TITLE>
         Profile 
      </TITLE>
   </HEAD>
<BODY>
	<form action="demo_form.asp">
		<form action="." method="post">{% csrf_token %}
  		name: <input type="text" name="nname"><br>
  		date of birth: <input type="text" name="dname"><br>
		blood type: <input type="text" name="bname"><br>
		allergies: <input type="text" name="aname><br>
		<button type="button"><br>
		<img src="https://api.qrserver.com/v1/create-qr-code/?data=HelloWorld&amp;size=100x100" alt="" title="" />
  		<input type="submit" value="update">	
	</form>
</BODY>
</HTML>
