<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<HTML>
   <HEAD>
      <TITLE>
         Profile 
      </TITLE>
   </HEAD>
<BODY>
	<form action="update/">
		{% if user %}
			{% if fname %}
		<h2 align="center"> <b> {{ fname }}'s Medical Information </b> </h2>
			{% endif %}
		<hr align="center"; width="80%">
		<table align="center"; width=80%>
			<tr>
				<td width="20%"> <label> First Name: </label> </td>
				{% if fname %}
				<td> <label> {{ fname }} </label> </td>
				{% endif %}
			</tr>
			<tr>
				<td width="20%"> <label> Last Name: </label> </td>
				{% if lname %}
				<td> <label> {{ lname }} </label> </td>
				{% endif %}
			</tr>
			<tr>
				<td width="20%"> <label> Date of Birth: </label> </td>
				{% if dob %}
				<td> <label> {{ dob }} </label> </td>
				{% endif %}
			</tr>
			<tr>
				<td width="20%"> <label> Blood Type: </label> </td>
				{% if blood_type %}
				<td> <label> {{ blood_type }} </label> </td>
				{% else %}
				<td> <label> </label> </td>
				{% endif %}
			</tr>
			<tr>
				<td width="20%"> <label> Known Allergies: </label> </td>
				<td>
					<ul>
					{% if allergies %}
						{% for allergy in user.allergies %}
							<li> {{ allergy.allergy }} </li>
						{% endfor %}
					{% endif %}
					</ul>
				</td>
			</tr>
			<tr>
				<td width="20%"> <label> Addition Comment: </label> </td>
				<td> 
					<div style="width:60%; height: 100px; line-height: 2em; overflow: scroll; padding: 5px;">
						{% if comments %}
							{{ comments }}
						{% endif %}
					</div> 
				</td>
			</tr>
		</table>
		<br/>
		<button> Update Inforation </button>
	{%endif%}
	</form>
</BODY>
</HTML>
